* {
    border-style: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #171717;
}



body,html{
    height: 100vh;
}

main{
    width: 100%;
}


#hide{
    display: none;
}

.cards{
    width: 100%;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    row-gap: 80px;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

.card{
    height: 400px;
    width: 400px;
    border: 3px solid black;
    margin-top: 45px;
    margin-left: 70px;
    
}

.card-heading{
    height: 100px;
}

.card-heading > * {
    margin: 20px;
}

.card-pages{
    height: 150px;
}

.card-pages > * {
    margin: 10px;
}


h3{
    text-align: center;
    font-size: 30px;
}

.formButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 150px;
}

.form-toggle, .form-close {
    height: 80px;
    width: 200px;
    background-color: #DA0037;
    border-radius: 25px;
    font-size: 20px;
    color: #EDEDED;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #444444;
}

.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    width: 600px;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 15px;
}

fieldset > div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
}

fieldset > div > label {
    background-color: white;
}

input{
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
fieldset > div > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}

#status, #status2{
    width: 10px;
}

legend{
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

label{
    width: 150px;
    display: inline-block
}


.authors-name{
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

.book-pages{
    font-size: 20px;
    font-weight: bold;
}

.js-pages, .read-status{
    font-size: 20px;

}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonID {
    height: 40px;
    width: 100px;
    background-color: #DA0037;
    border-radius: 25px;
    font-size: 10px;
    color: #EDEDED;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #444444;
}


.remove, .change-status{
    height: 30px;
    width: 300px;
    margin: 20px;
    text-align: center;
}

