* {
    border-style: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body,html{
    height: 100vh;
}

main{
    width: 100%;
}

div {
    border: 1px solid blue;
}

.cards{
    width: 100%;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    row-gap: 80px;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}

.card{
    height: 400px;
    width: 400px;
    border: 3px solid black;
    margin-top: 45px;
    margin-left: 70px;
    
}
